- objects.each do |message|
  %tr{ id: "row-#{message.id}" }
    %td.item-check{ style: 'width: 10%' }
      - if Pundit.policy(current_user, Message).destroy_multiple?
        .checkbox
          %label{ for: "checkbox-#{message.id}" }
            %input{ type:"checkbox", id: "checkbox-#{message.id}", 'checklist-model' => 'check', 'checklist-value' => "#{message.id}", '@click' => "listDelete(#{message.id})"}
            %span.cr
              %i.cr-icon.glyphicon.glyphicon-ok
    %td.hidden-xs
      = link_to admin_message_path(message, search: @query), remote: true, class: 'show-row' do
        %span
          = message.name
    %td.hidden-xs
      = link_to admin_message_path(message, search: @query), remote: true, class: 'show-row' do
        %span
          = message.dni
    %td.hidden-xs.hidden-sm
      = link_to admin_message_path(message, search: @query), remote: true, class: 'show-row' do
        %span
          = message.subject
    %td{ style: 'width: 15px;padding-right:15px;' }
      %a.action-btn.pull-right{:id => "menu-#{message.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
        %i.icon-options-vertical
      %ul.actions.dropdown-menu{"aria-labelledby" => "menu-#{message.id}" }
        - if Pundit.policy(current_user, Message).show?
          %li
            = link_to admin_message_path(message), class: 'new-menu', title: t('keppler.actions.show') do
              %i.icon-eye
              = t('keppler.actions.show')
        - if Pundit.policy(current_user, Message).destroy?
          %li
            = link_to admin_message_path(message), class: 'new-menu', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
              %i.icon-trash
              = t('keppler.actions.delete')

    %td{:style => 'width: 5%;'}
      %a.drop{:href=>"#"}
        %i.icon-cursor-move
