!!!
%html
  %head
    = render 'app/partials/head'
    :javascript
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
  %body
    = render 'app/partials/navbar'
    %section.main-content-w3layouts-agileits
      %h3.tittle Censo de Habitantes
      .container
        .contact_grid_right
          = simple_form_for @censos, :url => "/admin/census", :method => :post do |f|
            .row.contact_left_grid
              .col-md-6.con-left
                .form-group
                  %label ¿Es usted jefe de familia?
                  = f.input_field :jefe_familia, as: :boolean, label: false,  input_html: {class:"form-control"}
                .form-group
                  %label Nombre
                  = f.input :name, label: false,  input_html: {class:"form-control"}
                .form-group
                  %label Apellido
                  = f.input :last_name,  label: false, input_html: { :type=>"text", class:"form-control"}
                .form-group
                  %label Cédula de Identidad
                  %input.form-control
                  -# = f.input :status_vivienda, as: :text, label: false, input_html: {class: "form-control"}
                .form-group
                  %label Fecha de Nacimiento
                  = f.input :birthdate, as: :date, label: false, input_html: {class: "form-control"}
                .form-group
                  %label Edad
                  = f.input :edad, as: :integer, label: false, input_html: {class: "form-control", min: 0}
                .form-group
                  %label Nivel de Estudio
                  = f.input :nivel_estudio, label: false, input_html: {class: "form-control"}
                .form-group
                  %label Profesión
                  = f.input :profesion, label: false, input_html: {class: "form-control"}
              .col-md-6.con-left
                .form-group
                  %label Sector
                  = f.input :sector, label: false, input_html: {class: "form-control"}
                .form-group
                  %label Calle
                  = f.input :calle, label: false,  input_html: {class:"form-control"}
                .form-group
                  %label Nº de Casa
                  = f.input :casa,  label: false, input_html: { :type=>"text", class:"form-control"}
                .form-group
                  %label Piso
                  = f.input :piso, label: false, input_html: {class: "form-control"}
              .col-md-2
                = f.button :submit, 'Enviar', class:"form-control"
              -# .col-md-6.con-right
              -#   .form-group
              -#     %label Asunto
              -#     = f.input :subject,  label: false, input_html: {class:"form-control"}
              -#   .form-group
              -#     %label Mensaje
              -#     = f.input :content, as: :text, label: false, input_html: {id: "textarea"}



              -#     %label{:for => "validationCustom01 my-2"} Nombre y Apellido
              -#     %input.form-control{:name => "Name", :placeholder => "", :required => "", :type => "text"}/
              -#   .form-group
              -#     %label{:for => "validationCustom01 my-2"} Cédula de Identidad
              -#     %input.form-control{:name => "Name", :placeholder => "", :required => "", :type => "text"}/
              -#   .form-group
              -#     %label{:for => "exampleFormControlInput1"} Dirección
              -#     %input.form-control{:name => "Email", :placeholder => "", :required => "", :type => "text"}/
              -# .col-md-6.con-right
              -#   .form-group
              -#     %label{:for => "validationCustom03 my-2"} Asunto
              -#     %input.form-control{:name => "Subject", :placeholder => "", :required => "", :type => "text"}/
              -#   .form-group
              -#     %label{:for => "textarea"} Mensaje
              -#     %textarea#textarea{:placeholder => ""}
              -#   %input.form-control{:type => "submit", :value => "Enviar"}/
    / //main
    / footer
    %footer
      .container
        .footer-cpy.text-center
          .footer-social
            .copyrighttop
              %ul
                %li.mx-3
                  %a.facebook{:href => "#"}
                    %i.fa.fa-facebook-f
                    %span Facebook
                %li
                  %a.facebook{:href => "#"}
                    %i.fa.fa-twitter
                    %span Twitter
          .w3layouts-agile-copyrightbottom
            %p
              © Consejo Comunal Bicentenario | Diseñado y Desarrollado por
              %a{:href => "#"} Servidores Comunitarios
        / //footer
    /
    / js
    %script{:src => "../assets/js/jquery-2.2.3.min.js"}
    / //js
    / / start-smoth-scrolling
    %script{:src => "../assets/js/move-top.js"}
    %script{:src => "../assets/js/easing.js"}
    :javascript
      jQuery(document).ready(function ($) {
      	$(".scroll").click(function (event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop: $(this.hash).offset().top
      		}, 900);
      	});
      });
    / // end-smoth-scrolling
    :javascript
      $(document).ready(function () {
      	/*
      							var defaults = {
      					  			containerID: 'toTop', // fading element id
      								containerHoverID: 'toTopHover', // fading element hover id
      								scrollSpeed: 1200,
      								easingType: 'linear'
      					 		};
      							*/

      	$().UItoTop({
      		easingType: 'easeOutQuart'
      	});

      });
    %a#toTop.scroll{:href => "#home", :style => "display: block;"}
      %span#toTopHover{:style => "opacity: 1;"}
    / //Custom-JavaScript-File-Links
    %script{:src => "../assets/js/bootstrap.js"}
