!!!
%html
  %head
    = render 'app/partials/head'
  %body
    = render 'app/partials/navbar'
    .banner
      #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          - @banners.each_with_index do |x, banner|
            %li.active{"data-slide-to" => "x", "data-target" => "#carouselExampleIndicators"}
          -# %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
          -# %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
          -# %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
        .carousel-inner{:role => "listbox"}
          - @banners.each do |banner|
            .carousel-item.active{style:"background: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)), url(#{banner.banner}) no-repeat;background-size:cover;"}
              .carousel-caption
                %h3= banner.title
                %p= banner.description
                -# .read
                  %a.btn.btn-primary.read-m{:href => "single.html"} Ver más
          -# .carousel-item.item2
          -#   .carousel-caption
          -#     %h3 Mantente al día
          -#     .read
          -#       %a.btn.btn-primary.read-m{:href => "single.html"} Ver más
          -# .carousel-item.item3
          -#   .carousel-caption
          -#     %h3 Texto de prueba 1
          -#     .read
          -#       %a.btn.btn-primary.read-m{:href => "single.html"} Ver más
          -# .carousel-item.item4
          -#   .carousel-caption
          -#     %h3 Texto de prueba 2
          -#     .read
          -#       %a.btn.btn-primary.read-m{:href => "single.html"} Leer más
        -# %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        -#   %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        -#   %span.sr-only Previous
        -# %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        -#   %span.carousel-control-next-icon{"aria-hidden" => "true"}
        -#   %span.sr-only Next
    / //banner
    -# %section.bottom-slider
    -#   .course_demo1
    -#     %ul#flexiselDemo1
    -#       %li
    -#         .blog-item
    -#           .floods-text
    -#             %h3
    -#               Descarga #1
    -#             %a{:href => "#"}
    -#               %i.fa.fa-download{:style => "font-size:20px;"}
          -# %li
          -#   .blog-item
          -#     .floods-text
          -#       %h3
          -#         Descarga #2
          -#       %a{:href => "#"}
          -#         %i.fa.fa-download{:style => "font-size:20px;"}
          -# %li
          -#   .blog-item
          -#     .floods-text
          -#       %h3
          -#         Descarga #3
          -#       %a{:href => "#"}
          -#         %i.fa.fa-download{:style => "font-size:20px;"}
          -# %li
          -#   .blog-item
          -#     .floods-text
          -#       %h3
          -#         Descarga #4
          -#       %a{:href => "#"}
          -#         %i.fa.fa-download{:style => "font-size:20px;"}
    / /main
    %section.main-content-w3layouts-agileits
      .container
        .row
          .col-lg-8.left-blog-info-w3layouts-agileits.text-left
            .blog-grid-top
              .b-grid-top
                .blog_info_left_grid
                  %a{:href => "single.html"}
                    %img.img-fluid{:alt => "", :src => "assets/img/Danzas-630x330.jpg"}/
                .blog-info-middle
                  %ul
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-calendar-alt
                        Mayo 15,2018
              %h3
                %a{:href => "single.html"} Danzas Araguaney, orgullo de Las Margaritas
              %p
                UN ESPACIO DEDICADO AL TALENTO ARTISTICO QUE HACE VIDA CULTURAL EN LA URB. LAS MARGARITAS, EN EL AREA DE LA DANZA
                Danzas Araguaney sigue regalándole su talento a las miles de personas que continuamente evidencian sus presentaciones, y formando a sus integrantes, no solo con prácticas de danza, sino también con la enseñanza teórica de las diversas manifestaciones artísticas y culturales propias de Venezuela. 
              %a.btn.btn-primary.read-m{:href => "http://danzas-araguaney.blogspot.com/", target:"blank"} Ver blog
            -# .blog-girds-sec
              .row
                .col-md-6.blog-grid-top
                  .b-grid-top
                    .blog_info_left_grid
                      %a{:href => "single.html"}
                        %img.img-fluid{:alt => "", :src => "assets/img/b2.jpg"}/
                    %h3
                      %a{:href => "single.html"} Amet consectetur
                    %p Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt aliqua uta enim.
                  %ul.blog-icons
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-clock
                        5 meses
                -# .col-md-6.blog-grid-top
                  .b-grid-top
                    .blog_info_left_grid
                      %a{:href => "single.html"}
                        %img.img-fluid{:alt => "", :src => "assets/img/b3.jpg"}/
                    %h3
                      %a{:href => "single.html"} Amet adipisicing
                    %p Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt aliqua uta enim.
                  %ul.blog-icons
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-clock
                        5 meses
          %aside.col-lg-4.agileits-w3ls-right-blog-con.text-right
            .tech-btm
              %h3{style:'margin-bottom:50px;'} Descarga de Formatos
              .blog-grids.row.mb-3
                -# .col-md-5.blog-grid-left
                -#   %a{:href => "single.html"}
                -#     %img.img-fluid{:alt => "", :src => "assets/img/1.jpg"}/
                - @downloads.each do |doc|
                  .col-md-12.blog-grid-right{style:"    border: 1px solid #c0c0c0;padding: 10px;"}
                    %h5
                      %a{:href => "#{doc.file}"}
                        %i.fa.fa-download
                      %a{:href => "#{doc.file}"}= doc.title
                    .sub-meta
                      %span= doc.description
              -# .blog-grids.row.mb-3
              -#   .col-md-5.blog-grid-left
              -#     %a{:href => "single.html"}
              -#       %img.img-fluid{:alt => "", :src => "assets/img/5.jpg"}/
              -#   .col-md-7.blog-grid-right
              -#     %h5
              -#       %a{:href => "single.html"} Pellentesque dui, non felis. Maecenas male non felis
              -#     .sub-meta
              -#       %span
              -#         %i.fa.fa-clock
              -#         20 Jan, 2018
              -#   .clearfix
              -# .blog-grids.row.mb-3
              -#   .col-md-5.blog-grid-left
              -#     %a{:href => "single.html"}
              -#       %img.img-fluid{:alt => "", :src => "assets/img/3.jpg"}/
              -#   .col-md-7.blog-grid-right
              -#     %h5
              -#       %a{:href => "single.html"} Pellentesque dui, non felis. Maecenas male non felis
              -#     .sub-meta
              -#       %span
              -#         %i.fa.fa-clock
              -#         20 Feb, 2018
              -# .blog-grids.row.mb-3
              -#   .col-md-5.blog-grid-left
              -#     %a{:href => "single.html"}
              -#       %img.img-fluid{:alt => "", :src => "assets/img/2.jpg"}/
              -#   .col-md-7.blog-grid-right
              -#     %h5
              -#       %a{:href => "single.html"} Pellentesque dui, non felis. Maecenas male non felis
              -#     .sub-meta
              -#       %span
              -#         %i.fa.fa-clock
              -#         20 Jan, 2018
              -# .blog-grids.row.mb-3
              -#   .col-md-5.blog-grid-left
              -#     %a{:href => "single.html"}
              -#       %img.img-fluid{:alt => "", :src => "assets/img/4.jpg"}/
              -#   .col-md-7.blog-grid-right
              -#     %h5
              -#       %a{:href => "single.html"} Pellentesque dui, non felis. Maecenas male non felis
              -#     .sub-meta
              -#       %span
              -#         %i.fa.fa-clock
              -#         20 Jan, 2018
              -# .blog-grids.row.mb-3
              -#   .col-md-5.blog-grid-left
              -#     %a{:href => "single.html"}
              -#       %img.img-fluid{:alt => "", :src => "assets/img/6.jpg"}/
              -#   .col-md-7.blog-grid-right
              -#     %h5
              -#       %a{:href => "single.html"} Pellentesque dui, non felis. Maecenas male non felis
              -#     .sub-meta
              -#       %span
              -#         %i.fa.fa-clock
              -#         20 Feb, 2018
    %footer
      .container
        .footer-cpy.text-center
          .footer-social
            .copyrighttop
              %ul
                %li.mx-3
                  %a.facebook{:href => "#"}
                    %i.fa.fa-facebook-f
                    %span Facebook
                %li
                  %a.facebook{:href => "#"}
                    %i.fa.fa-twitter
                    %span Twitter
          .w3layouts-agile-copyrightbottom
            %p
              © Consejo Comunal Bicentenario | Diseñado y Desarrollado por
              %a{:href => "#"} Servidores Comunitarios
    %script{:src => "assets/js/jquery-2.2.3.min.js"}
    %script{:src => "https://use.fontawesome.com/70a3cb5d53.js"}
    %script{:src => "assets/js/jquery.desoslide.js"}
    :javascript
      $('#demo1_thumbs').desoSlide({
      	main: {
      		container: '#demo1_main_image',
      		cssClass: 'img-responsive'
      	},
      	effect: 'sideFade',
      	caption: true
      });
    :javascript
      $(window).load(function () {
      	$("#flexiselDemo1").flexisel({
      		visibleItems: 3,
      		animationSpeed: 1000,
      		autoPlay: true,
      		autoPlaySpeed: 3000,
      		pauseOnHover: true,
      		enableResponsiveBreakpoints: true,
      		responsiveBreakpoints: {
      			portrait: {
      				changePoint: 480,
      				visibleItems: 1
      			},
      			landscape: {
      				changePoint: 640,
      				visibleItems: 2
      			},
      			tablet: {
      				changePoint: 768,
      				visibleItems: 3
      			}
      		}
      	});

      });
    :javascript
      $(window).load(function () {
      	$("#flexiselDemo2").flexisel({
      		visibleItems: 3,
      		animationSpeed: 1000,
      		autoPlay: true,
      		autoPlaySpeed: 3000,
      		pauseOnHover: true,
      		enableResponsiveBreakpoints: true,
      		responsiveBreakpoints: {
      			portrait: {
      				changePoint: 480,
      				visibleItems: 1
      			},
      			landscape: {
      				changePoint: 640,
      				visibleItems: 2
      			},
      			tablet: {
      				changePoint: 768,
      				visibleItems: 3
      			}
      		}
      	});

      });
    %script{:src => "assets/js/jquery.flexisel.js"}
    %script{:src => "assets/js/move-top.js"}
    %script{:src => "assets/js/easing.js"}
    :javascript
      jQuery(document).ready(function ($) {
      	$(".scroll").click(function (event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop: $(this.hash).offset().top
      		}, 900);
      	});
      });
    :javascript
      $(document).ready(function () {
        var defaults = {
          containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear'
      };
      	$().UItoTop({
      		easingType: 'easeOutQuart'
      	});
      });
    %a#toTop.scroll{:href => "#home", :style => "display: block;"}
      %span#toTopHover{:style => "opacity: 1;"}
    %script{:src => "assets/js/bootstrap.js"}
    :javascript
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
